<style> 
#wrap {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background:url('./images/safari.jpg');
background-size: cover;
background-position: 50% 50%;
}
</style>
<div id='wrap'></div>
