<style>
#head{
  display:none;
}
#sidenav{
  display:none;
}
#content{
  display:none;
}
</style>
<script async>  
$(function(){

$('#im1, #im2, #im3, #im4, #im5, #im6, #im7, #im8, #im9').ready(function(){
  $('#head').fadeIn();
  $('#sidenav').fadeIn();
  $('#content').fadeIn();
});

$("#modal").draggable({handle:"#mdhd"});
$("#mdhd").disableSelection();

var afht = window.innerHeight;
var afwi = window.innerWidth;
$('#msk').css('height',afht).css('width',afwi);

  
$(window).resize(function() {
var afht = window.innerHeight;
var afwi = window.innerWidth;
$('#msk').css('height',afht).css('width',afwi);
});
  
$('#cbox').click(function(){
$('#msk').css('display','block');
$('#modal').css('top', afht/2-145).css('left', afwi/2-210);
});
   
var mskflg = 0;  
$('.in').click(function(){
mskflg = 1; 
});  

  
$('#msk').click(function(){
if(mskflg != 1){
$('#msk').css('display','none');
}
mskflg = 0;
});  
  
$('.hb1').mouseover(function(){
  $('.hbg1').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');
  $('.hb1 #frames').addClass('frshb');
});
$('.hb1').mouseleave(function(){
  $('.hbg1').css('box-shadow', 'none');
  $('.hb1 #frames').removeClass('frshb');
});
$('.hb2').mouseover(function(){
  $('.hbg2').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');
  $('.hb2 #frames').addClass('frshb');
});
$('.hb2').mouseleave(function(){
  $('.hbg2').css('box-shadow', 'none');
  $('.hb2 #frames').removeClass('frshb');
});  
$('.hb3').mouseover(function(){
  $('.hbg3').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');
  $('.hb3 #frames').addClass('frshb');
});
$('.hb3').mouseleave(function(){
  $('.hbg3').css('box-shadow', 'none');  
  $('.hb3 #frames').removeClass('frshb');  
});
$('.hb4').mouseover(function(){
  $('.hbg4').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');
  $('.hb4 #frames').addClass('frshb');
});
$('.hb4').mouseleave(function(){
  $('.hbg4').css('box-shadow', 'none');
  $('.hb4 #frames').removeClass('frshb');
});

$('.hb4').click(function(){
  location.href = '/about';
});
});
</script>
<div id='head'>
<div class='left'>  
<h1><a href='/'>Kohei Shingai</a></h1>
<h2><a href='/'>Web Developer</a></h2>
</div>
<div class='right'>
<div id='pwrap'>
<img id='im1' src="./images/face.jpg" class="primg" style="cursor: auto;">
<h1><a href="/">Kohei Shingai</a></h1>
<ul id="pdetail">
<div id='pd1st'>
<li>
<a href="https://www.google.com/maps/preview?authuser=0#!q=tokyo&data=!4m10!1m9!4m8!1m3!1d25572196!2d-95.677068!3d37.0625!3m2!1i1437!2i753!4f13.1" class="igeo" target="_blank">Tokyo</a>
</li>
  <li><a href="http://www.koheishingai.com" class="iurl">www.koheishingai.com</a></li>
<li><a href="https://twitter.com/koheishingai" class="itweet" target='blank'>@koheishingai</a></li>
</div>
<div id='pd2nd'>
<a href="#" id="cbox"><span>Contact Me</span></a>
<a href="#" id="cbox" class='none1st'><span>Themes</span></a>
<a href="#" id="cbox" class='none1st'><span>New Create</span></a>
</div>
</ul>

</div>
</div>  
</div>
<div id='sidenav'>
<ul>  
<li>
  <a href='#artwork'>Artwork</a>
</li>  
<li>
  <a href='#project'>Project</a>  
</li>  
<li>
  <a href='#Service'>Service</a>  
</li>
<li>
  <a href='/about'>About</a>  
</li>   
</ul>  
</div>
<div id='content'>
<h1>Hello!</h1>  
<section class="home-box hb1" style="display: block;">
<h3>Artwork</h3>
  <div id='frames'>
  <img id='im2' src="http://farm4.staticflickr.com/3689/9696750679_5eb1dca24e_o.png" style="margin-top: 9px; margin-left: 0px; margin-bottom: 14px;">
    <div id="subs" style="margin-top: -22px;">Artwork</div>
  </div>
<a href="#sketch" class="go hbg1"><img id='im3' src="./images/next.png"></a>  
</section>
<section class="home-box hb2" style="display: block;">
<h3>Project</h3>
    <div id='frames'>
  <img id='im4' src="http://farm4.staticflickr.com/3706/9696753263_39b7450a4b_o.png" style="margin-top: 16px; margin-left: 1px; margin-bottom: 12px;">
      <div id="subs" style="margin-top: -12px;">Project</div>
  </div>
<a href="#sketch" class="go hbg2"><img id='im5' src="./images/next.png"></a>
</section>
<section class="home-box hb3" style="display: block;">
<h3>Service</h3>
    <div id='frames'>
  <img id='im6' src="http://farm8.staticflickr.com/7290/9699989220_3ca56605f6_o.png" style="margin-top: 4px; margin-left: -7px; margin-bottom: 12px;">
      <div id="subs" style="margin-top: -18px;">Service</div>
  </div>
<a href="#sketch" class="go hbg3"><img id='im7' src="./images/next.png"></a>
</section>
<section class="home-box hb4" style="display: block;">
<h3>About</h3>
  <div id='frames'>
 <img id='im8' src="http://farm6.staticflickr.com/5514/9699978638_72f3afba66_o.png" style="margin-top: 8px; margin-left: 0px; margin-bottom: 8px;">
    <div id="subs" style="margin-top: -17px;">About Me</div>
  </div>
<a href="#sketch" class="go hbg4"><img id='im9' src="./images/next.png"></a>
</section>
</div>
  
<div id='msk'>
<div id='modal' class='in'>
<div id='mdcont' class='in'>
<div id='mdhd' class='in'>
<h3 class='in'>Contact Me</h3>
</div>
<div id='cmfm' class='in'></div>
<div id='wcmbt' class='in'>
<div id='cmbt' class='in'>Send</div>
</div>
</div>
</div>  
</div>