<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="initial-scale=1.0">
<title>www.koheishingai.com</title>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='./styles/stylephone.css'>
<link href='./styles/animate.min.css' rel='stylesheet' type='text/css'>
<script src='http://code.jquery.com/jquery-1.10.2.min.js' async></script>
<script async>
$(function(){
  //init elements hide
  $('body').hide();
  $('#main').hide();
  $('.slidemenu').hide();

  //init loading show
  $('#loading').show();
  
  //init loading function
  var ignitanim;
  $('.menu-button-left, body').ready(function(){
    $('#loading').hide();  
    $('body').fadeIn();
    $('#main').fadeIn(function(){
      $('.slidemenu').show();  
      ignitanim = requestAnimationFrame(repeatigan);
    });
  });
function repeatigan() {
  if($('#main').css('opacity') != '1'){
  ignitanim = requestAnimationFrame(repeatigan);
  }else{
  cancelAnimationFrame(ignitanim);
  $('#im2').addClass('animated bounce');
  $('#im4').addClass('animated swing');
  $('#im6').addClass('animated shake');
  $('#im8').addClass('animated tada');
  }
}
  
  //init header adjust
  var afwi = window.innerWidth;
});
</script>

<div id='loading'>
  <span class='span'>Loading</span>
  <span class='span l-1'></span>
  <span class='span l-2'></span>
  <span class='span l-3'></span>
  <span class='span l-4'></span>
  <span class='span l-5'></span>
  <span class='span l-6'></span>
</div>

<div class="slidemenu slidemenu-left" style="height: 985px; transition: visibility 0ms linear 200ms; -webkit-transition: visibility 0ms linear 200ms;">
  
  <div class="slidemenu-header">
    <div>Header</div>
  </div>
  
  <div class="slidemenu-body">
    <ul class="slidemenu-content" style="transition: -webkit-transform 0ms ease-in-out 0ms; -webkit-transition: -webkit-transform 0ms ease-in-out 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
      <li><a class="menu-item" href="">Artwork</a></li>
      <li><a class="menu-item" href="">Project</a></li>
      <li><a class="menu-item" href="">Service</a></li>
      <li><a class="menu-item" href="">About Me</a></li>
    </ul>
  </div>
</div>

  <div id="main" style="min-height: 985px; transition: -webkit-transform 200ms ease-in-out 0ms; -webkit-transition: -webkit-transform 200ms ease-in-out 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
    <header id="header">
      <span class="button menu-button-left"></span>
      <div id='logo'>www.koheishingai.com</div>
    </header>
    <div id='content'>
    <h1>Hello!</h1>
    
    <div class='hrs'></div>
    
    <div id="frames" class="">
    <img id="im2" src="http://farm4.staticflickr.com/3689/9696750679_5eb1dca24e_o.png" style="margin-top: 14px; margin-left: 0px; margin-bottom: 14px;">
    <div id="subs" style="margin-top: -22px;">Artwork</div>
    </div>
    
    <div class='hrs'></div>
    
    <div id="frames" class="frshb">
    <img id="im4" src="http://farm4.staticflickr.com/3706/9696753263_39b7450a4b_o.png" style="margin-top: 23px; margin-left: 1px; margin-bottom: 12px;">
    <div id="subs" style="margin-top: -12px;">Project</div>
    </div>
    
    <div class='hrs'></div>
    
    <div id="frames" class="frshb">
    <img id="im6" src="http://farm8.staticflickr.com/7297/9730618235_c7500f4e18_o.png" style="margin-top: 4px; margin-left: -7px; margin-bottom: 12px;">
    <div id="subs" style="margin-top: -18px;">Service</div>
    </div>
    
    <div class='hrs'></div>
    
    <div id="frames" class="frshb">
    <img id="im8" src="http://farm6.staticflickr.com/5514/9699978638_72f3afba66_o.png" style="margin-top: 8px; margin-left: 0px; margin-bottom: 8px;">
    <div id="subs" style="margin-top: -17px;">About Me</div>
    </div>
    
    </div>
    <div id='footer'>
    </div>
  </div>


<script src='./scripts/slide.js' async></script>
<script async>
  var menu = SpSlidemenu('#main', '.slidemenu-left', '.menu-button-left', {direction: 'left'});
</script>
