<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="initial-scale=1.0">
<title>www.koheishingai.com</title>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='./styles/stylephone.css'>
<script src='http://code.jquery.com/jquery-1.10.2.min.js' async></script>
<script async>
$(function(){
  //init elements hide
  $('body').hide();
  $('#main').hide();
  $('.slidemenu').hide();

  //init loading show
  $('#loading').show();
  
  //init loading function
  $('.menu-button-left, body').ready(function(){
    $('#loading').hide();  
    $('body').fadeIn();
    $('#main').fadeIn(function(){
      $('.slidemenu').show();  
    });
    
  });
  
  //init header adjust
  var afwi = window.innerWidth;
  $('#header').css('width',afwi - 6).css('border','3px solid #fcd04b');
});
</script>

<div id='loading'>
  <span class='span'>Loading</span>
  <span class='span l-1'></span>
  <span class='span l-2'></span>
  <span class='span l-3'></span>
  <span class='span l-4'></span>
  <span class='span l-5'></span>
  <span class='span l-6'></span>
</div>

<div class="slidemenu slidemenu-left" style="height: 985px; transition: visibility 0ms linear 200ms; -webkit-transition: visibility 0ms linear 200ms;">
  
  <div class="slidemenu-header">
    <div>Header</div>
  </div>
  
  <div class="slidemenu-body">
    <ul class="slidemenu-content" style="transition: -webkit-transform 0ms ease-in-out 0ms; -webkit-transition: -webkit-transform 0ms ease-in-out 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
      <li><a class="menu-item" href="">Menu 1</a></li>
      <li><a class="menu-item" href="">Menu 2</a></li>
      <li><a class="menu-item" href="">Menu 3</a></li>
      <li><a class="menu-item" href="">Menu 4</a></li>
      <li><a class="menu-item" href="">Menu 5</a></li>
      <li><a class="menu-item" href="">Menu 6</a></li>
      <li><a class="menu-item" href="">Menu 7</a></li>
      <li><a class="menu-item" href="">Menu 8</a></li>
      <li><a class="menu-item" href="">Menu 9</a></li>
      <li><a class="menu-item" href="">Menu 10</a></li>
      <li><a class="menu-item" href="">Menu 11</a></li>
      <li><a class="menu-item" href="">Menu 12</a></li>
      <li><a class="menu-item" href="">Menu 13</a></li>
      <li><a class="menu-item" href="">Menu 14</a></li>
      <li><a class="menu-item" href="">Menu 15</a></li>
      <li><a class="menu-item" href="">Menu 16</a></li>
      <li><a class="menu-item" href="">Menu 17</a></li>
      <li><a class="menu-item" href="">Menu 18</a></li>
      <li><a class="menu-item" href="">Menu 19</a></li>
      <li><a class="menu-item" href="">Menu 20</a></li>
      <li><a class="menu-item" href="">Menu 21</a></li>
      <li><a class="menu-item" href="">Menu 22</a></li>
      <li><a class="menu-item" href="">Menu 23</a></li>
      <li><a class="menu-item" href="">Menu 24</a></li>
      <li><a class="menu-item" href="">Menu 25</a></li>
      <li><a class="menu-item" href="">Menu 26</a></li>
      <li><a class="menu-item" href="">Menu 27</a></li>
      <li><a class="menu-item" href="">Menu 28</a></li>
      <li><a class="menu-item" href="">Menu 29</a></li>
      <li><a class="menu-item" href="">Menu 30</a></li>
    </ul>
  </div>
</div>

  <div id="main" style="min-height: 985px; transition: -webkit-transform 200ms ease-in-out 0ms; -webkit-transition: -webkit-transform 200ms ease-in-out 0ms; -webkit-transform: translate3d(0px, 0px, 0px);">
    <header id="header">
      <span class="button menu-button-left"></span>
      <div id='logo'>www.koheishingai.com</div>
    </header>
  </div>


<script src='./scripts/slide.js' async></script>
<script async>
  var menu = SpSlidemenu('#main', '.slidemenu-left', '.menu-button-left', {direction: 'left'});
</script>
