<style>
#wrap {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url('./images/safari.jpg');
background-size: cover;
background-position: 38% 50%;
display:none;
}
</style>
<script>
$(function(){
  $('#wrapim').ready(function(){
    $('#wrap').ready(function(){
      $('#wrap').fadeIn();
    });
  });
});
</script>
<img id='wrapim' src='./images/safari.jpg' style='display:none;'>
<div id='wrap'></div>