<style>
#wrap {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url('http://farm8.staticflickr.com/7327/9895097434_73b5ca1cf9_o.jpg');
background-size: cover;
background-position: 38% 50%;
display:none;
}
</style>
<script>
$(function(){
  $('#wrapim').ready(function(){
    $('#wrap').ready(function(){
      $('#wrap').fadeIn();
    });
  });
});
</script>
<img id='wrapim' src='http://farm8.staticflickr.com/7327/9895097434_73b5ca1cf9_o.jpg' style='display:none;'>
<div id='wrap'></div>