<script async>
$(function(){
$('.hb1').mouseover(function(){
  $('.dvr1').css('opacity', '1');   
});
$('.hb1').mouseleave(function(){
  $('.dvr1').css('opacity', '0');   
});
$('.hb2').mouseover(function(){
  $('.dvr2').css('opacity', '1');  
});
$('.hb2').mouseleave(function(){
  $('.dvr2').css('opacity', '0');   
});  
$('.hb3').mouseover(function(){
  $('.dvr3').css('opacity', '1');  
});
$('.hb3').mouseleave(function(){
  $('.dvr3').css('opacity', '0');  
});
$('.hb4').mouseover(function(){
  $('.dvr4').css('opacity', '1');   
});
$('.hb4').mouseleave(function(){
  $('.dvr4').css('opacity', '0'); 
});
$('.hb5').mouseover(function(){
  $('.dvr5').css('opacity', '1');  
});
$('.hb5').mouseleave(function(){
  $('.dvr5').css('opacity', '0');  
});
});
</script>
<h1>Project</h1>  
<section class="home-box2 hb1" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr1">
<strong>HTML5 Physics</strong>
<span class="comment">HTML5 Physics</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb2" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr2">
<strong>Natively Browser Apps</strong>
<span class="comment">Natively Browser Apps</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb3" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr3">
<strong>Browser Controller</strong>
<span class="comment">Browser Controller</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb4" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr4">
<strong>No DataBase</strong>
<span class="comment">No DataBase</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb5" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr5">
<strong>Comfortable Ad</strong>
<span class="comment">Comfortable Ad</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>