<script async>
$(function(){
$('.hb1').mouseover(function(){
  $('.hb1').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');    
});
$('.hb1').mouseleave(function(){
  $('.hb1').css('box-shadow', 'none');    
});
$('.hb2').mouseover(function(){
  $('.hb2').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');    
});
$('.hb2').mouseleave(function(){
  $('.hb2').css('box-shadow', 'none');    
});  
$('.hb3').mouseover(function(){
  $('.hb3').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');    
});
$('.hb3').mouseleave(function(){
  $('.hb3').css('box-shadow', 'none');    
});
$('.hb4').mouseover(function(){
  $('.hb4').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');    
});
$('.hb4').mouseleave(function(){
  $('.hb4').css('box-shadow', 'none');    
});
$('.hb5').mouseover(function(){
  $('.hb5').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');    
});
$('.hb5').mouseleave(function(){
  $('.hb5').css('box-shadow', 'none');    
});
$('.hb6').mouseover(function(){
  $('.hb6').css('box-shadow', 'inset 1px 1px 50px rgba(117, 117, 117, 0.31)');    
});
$('.hb6').mouseleave(function(){
  $('.hb6').css('box-shadow', 'none');    
});
});
</script>
<h1>Service</h1>  
<section class="home-box hb1" style="display: block;">
<h3>Simple CSS</h3>
<ul>
<li>Simple CSS</li>
</ul>
</section>
<section class="home-box hb2" style="display: block;">
<h3>Associative Array for TOEIC</h3>
<ul>
<li>Associative Array for TOEIC</li>
</ul>
</section>
<section class="home-box hb3" style="display: block;">
<h3>Light Ajax</h3>
<ul>
<li>Light Ajax</li>
</ul>
</section>
<section class="home-box hb4" style="display: block;">
<h3>Simple Cross Device</h3>
<ul>
<li>Simple Cross Device</li>
</ul>
</section>
<section class="home-box hb5" style="display: block;">
<h3>Protfolio</h3>
<ul>
<li>Protfolio</li>
</ul>
</section>