<script async>
$(function(){
$('.hb1').mouseover(function(){
  $('.dvr1').css('opacity', '1');     
});
$('.hb1').mouseleave(function(){
  $('.dvr1').css('opacity', '0');      
});
$('.hb2').mouseover(function(){
  $('.dvr2').css('opacity', '1');    
});
$('.hb2').mouseleave(function(){
  $('.dvr2').css('opacity', '0');    
});
$('.hb2').click(function(){
  
window.open('/store');

});  
$('.hb3').mouseover(function(){
  $('.dvr3').css('opacity', '1');  
});
$('.hb3').mouseleave(function(){
  $('.dvr3').css('opacity', '0');   
});
$('.hb4').mouseover(function(){
  $('.dvr4').css('opacity', '1');    
});
$('.hb4').mouseleave(function(){
  $('.dvr4').css('opacity', '0'); 
});
$('.hb5').mouseover(function(){
  $('.dvr5').css('opacity', '1');   
});
$('.hb5').mouseleave(function(){
  $('.dvr5').css('opacity', '0');  
});
$('.hb6').mouseover(function(){
  $('.dvr6').css('opacity', '1');  
});
$('.hb6').mouseleave(function(){
  $('.dvr6').css('opacity', '0');     
});
});
</script>
<h1>Service</h1>  
<section class="home-box2 hb1" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr1">
<strong>Simple CSS</strong>
<span class="comment">Simple CSS</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb2" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5350/9874651585_3d2c1f33de_o.png">
</div>
<a class="dover dvr2">
<strong>Asossiative Array for TOEIC</strong>
<span class="comment">Asossiative Array for TOEIC</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb3" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr3">
<strong>Smooth Ajax</strong>
<span class="comment">Smooth Ajax</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb4" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr4">
<strong>Simple Cross Device</strong>
<span class="comment">Simple Cross Device</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>
<section class="home-box2 hb5" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr5">
<strong>Protfolio</strong>
<span class="comment">Protfolio</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>
</section>

<section class="home-box2 hb6" style="display: block;">
<div class="dimg">
<div class="dimgin">	
<img alt="AAT" id='aatlogo' src="http://farm6.staticflickr.com/5511/9874766233_139cc805bb_o.jpg">
</div>
<a class="dover dvr6">
<strong>Code Bar</strong>
<span class="comment">Code Bar</span>
<em class="timestamp">September 21, 2013</em>
</a>
</div>
<ul class="tools group" style="visibility: visible;">
<li class="views" style="background-position-y: 4px;background-position-x: -70px;"></li>
<li class="cmnt" style="background-position-y: 4px;background-position-x: -31px;"></li>
<li class="views" style="background-position-y: 4px; background-position-x: 6px;"></li>
</ul>

</section>