<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<meta charset='utf-8'>
<title>Store: Associative Array for Toeic</title>
<style>
body {
width: 100%;
height: 100%;
min-height: 500px;
margin: 0px;
overflow-y: auto;
position: absolute;
background: #f1f4f9;
color: #333;
font-family: "Open Sans", Arial, sans-serif;
font-size: small;
overflow-x: hidden;
}
#header {
  background: #0e83cd;
  position: relative;
  z-index: 999;
  padding: 15px 0;
}
.hinner{
padding: 0px 20px;
position: relative;
max-width: 1243px;
margin: 0 auto;
height:62px;
}
.hlogo {
float: left;
width: 253px;
}

.hlogo a {
background: transparent url('http://farm8.staticflickr.com/7397/9894921965_cc3a1ec969_o.png') no-repeat 0px 0px;
width: 253px;
height: 62px;
display: block;
outline: none;
text-indent: -9000px;
}

#content{
padding: 0px 20px;
position: relative;
margin: 0 auto;
width:89%;
min-height: 2750px;
}
#article {
background: #fff;
padding: 40px 50px;
background-color: #fff;
}
#article h1 {
font-size: 35px;
line-height: 46px;
padding: 27px 3px 14px;
margin: 0px 0 14px 0;
border-bottom: 1px solid whiteSmoke;
color: #474747;
}

#article .csub {
float: left;
width: 100%;
padding: 3px 0;
color: #B1B1B1;
font-size: 11px;
line-height: 16px;
}

#article .cpe{
clear: both;
padding-bottom: 20px;
margin-bottom: 10px;
color: #B1B1B1;
font-style:italic;
}
#article p {
padding: 10px 0px;
text-align: center;
}

#article p img{
box-shadow:0px 1px 4px rgba(0,0,0,.2);
}

.btn{
float: none;
display: inline-block;
min-width: 3.5em;
height: 3.5em;
margin: 0 .25em 1.5em;
padding: 0 1.5em;
font-size: 1em;
font-weight: 400;
text-decoration: none;
line-height: 3.4em;
text-align: center;
border-radius: 2px;
background-color: #F0EFEB;
transition: background-color .2s ease,border .2s ease;
}

.download {
color: #606060;
background-color: #F7F7F7;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.13);
}

.download:hover, .download:focus {
color: #303030;
background-color: #F0EFEB;
}

.demo {
color: #fff;
box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
background-color: #09F;
}

.demo:hover, .demo:focus {
background-color: #0088E3;
}


</style>
<script src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
<script>
</script>
</head>
<body>
<div id='header'>
<div class='hinner'>
<div class='hlogo'>
<a href='http://www.koheishingai.com' target='_blank'></a>
</div>
</div>
</div>
<div id='content'>
<div id='article'>
<div class="csub">
<time pubdate="pubdate">September 21, 2013</time>							
</div>
<h1 class="ct-h-shd entry-title">Associative Array for TOEIC</h1>
<div class="cpe">Associative Array for TOEIC is a place to show and tell, promote, discover, and explore.</div>
<p>
<a href="http://arrayfortoeic.azurewebsites.net">
<img src="http://farm8.staticflickr.com/7436/9894921305_7352e3dcc7_o.jpg" width="580" height="315">
</a>
</p>							
<p>
<a class="demo btn" href="http://arrayfortoeic.azurewebsites.net" target='_blank'>Use the Service</a>
<a class="download btn" href="https://gumroad.com/l/vxKZ" target='_blank'>Buy the Source</a>
</p>						
</div>
</div>
</body>
</html>