@charset 'UTF-8'; 
body { 
height: 100%; 
min-height: 500px; 
width: 100%; 
margin: 0px; 
position: absolute; 
overflow-y: auto; 
font-size: small; 
font-family: 'Oxygen', Helvetica, Arial, sans-serif; 
color: #89867e; 
background-color: #fcd04b; 
display: block; 
} 
ol,ul{ 
list-style:none; 
} 
  
#head { 
height: 100px; 
width: 100%; 
top: 0px; 
position: absolute; 
z-index: 985; 
border-color: #ccc; 
background-color: #0e83cd; 
background-size: 13px, 29px, 37px, 53px; 
} 
#head .left { 
height: 100%; 
width: 240px; 
position: absolute; 
background: #fff; 
overflow: hidden; 
} 
    
#head .right { 
height: 100%; 
width: calc(100% - 241px); 
position: absolute; 
background: none; 
overflow: hidden; 
margin-left:241px; 
}  
#sidenav { 
height: calc(100% - 101px); 
width: 240px; 
position: absolute; 
z-index: 700; 
margin-top: 101px; 
background-color: #f06060; 
} 
  
  
  
#sidenav ul{ 
padding:1px 0; 
text-align:left;     
} 
#sidenav ul li{ 
padding:7px 0;     
} 
#sidenav ul li div { 
letter-spacing: 1px; 
display: block; 
padding: 6px 4px 6px 15px; 
text-decoration: none; 
color:#fff; 
font-size: 15px; 
font-weight: bold; 
cursor:pointer;
} 
#sidenav ul li div:hover {
background: rgba(0,0,0,.05);
}
#sidenav ul li .on { 
background: rgba(255, 3, 3, 0.44) !important;
} 
  
#head .left h1{ 
margin-top: 30px; 
margin-left: 32px; 
} 
#head .left h2{ 
font-size:13px; 
margin-top:-18px; 
margin-left:34px;     
} 
#head .left h1 a{ 
display:block; 
font-size:21px; 
color:#89867e; 
text-decoration:none !important;     
} 
  
#head .left h2 a{ 
color:#89867e; 
opacity:0.5; 
text-decoration:none !important;     
} 
  
#content { 
float: right; 
width: calc(100% - 241px); 
height: calc(100% - 101px); 
margin-top: 101px; 
margin-left: 241px; 
overflow-y: auto; 
background: #fcd04b; 
} 
    
#content h1 {
font-size: 35px;
margin: 0;
color: #FFAE03;
padding: 6px 0 11px 27px;
background: #fcd04b;
cursor: default;
}
.primg { 
height: 88px; 
width: 88px; 
margin-top: 5px; 
margin-left: 14px; 
-webkit-border-radius: 50%; 
border-radius: 50%; 
display: block; 
border: 0; 
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19), inset 1px 1px 50px rgba(0,0,0,.1); 
float:left; 
} 
#content .home-box { 
height: 300px; 
width: 380px; 
float: left; 
border-right: 3px solid #fcd04b; 
border-bottom: 3px solid #fcd04b; 
position: relative; 
padding: 35px 0 0 35px; 
overflow: hidden; 
z-index: 1; 
cursor: pointer; 
background: white; 
} 
  
#content .home-box2{
height: 300px;
width: 380px;
float: left;
border-right: 3px solid #fcd04b;
border-bottom: 3px solid #fcd04b;
position: relative;
padding: 16px;
overflow: hidden;
z-index: 1;
cursor: pointer;
background: white;
}  

.dimg{
max-width: 100%;
height: 0;
padding-bottom: 75%;
overflow: hidden;
}

.dimgin img {
max-width: 380px;
max-height: 280px;
}
  
.dover {
opacity:0;
position: absolute;
top: 0;
bottom: 30px;
left: 0;
width: 100%;
margin: 0;
padding: 20px;
font-size: 17px;
line-height: 2;
text-decoration: none;
color: #CFB960;
background: #fff;
background: rgba(255,255,255,0.96);
overflow: hidden;
z-index: 3;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}  

.dover strong {
display: block;
margin: 0px 0px 15px 0px;
height: 20px;
font-size: 20px;
color: #da9622;
}

.dover em {
display: block;
position: absolute;
bottom: 10px;
left: 20px;
margin: 0 0 3px 0;
font-size: 17px;
font-weight: bold;
font-style: normal;
line-height: 1;
color: #9E9E9E;
}

ul.tools li {
float: right;
margin: -14px 0 0 12px;
display: inline;
font-size: 11px;
line-height: 6px;
color: rgba(0,0,0,.0);
height: 30px;
width: 30px;
background: url('http://farm4.staticflickr.com/3666/9874658194_94550126da_o.png');
padding-left: 1px;
margin-left: 0;
border-left: none;
opacity:0.65;
}

ul.tools li:hover {
opacity:1;
}

#content .home-box ul { 
font-size: 18px; 
margin-top: 18px; 
padding-left: 0px; 
color: rgb(116, 116, 116); 
} 
  
#content .home-box li em {
display: block;
font-style: italic;
font-size: 12px;
padding: 1px 0 0 0;
color: rgba(116, 116, 116, 0.48);
}
  
#content .home-box li { 
padding: 7px 0px; 
} 
  
#content .home-box li a { 
color: #FFA44F; 
} 
  
#pwrap { 
width: 700px; 
height: 100px; 
} 
    
#pwrap h1 { 
width: auto; 
margin-left: 16px; 
margin-top: 0px; 
margin-bottom: -12px; 
} 
    
#pwrap h1 a { 
font-size: 23px; 
color: rgba(255, 255, 255, 0.95); 
outline: none; 
text-decoration: none; 
margin-left: 16px; 
} 


    
    
  
#pdetail { 
float: left; 
-webkit-padding-start: 0px; 
margin-left: 15px; 
margin-top: 13px; 
} 
  
   
#pdetail li{ 
display: inline; 
margin: 0 12px 0 0; 
font-size: 1.2em; 
line-height: 1.4em; 
color: #777777;     
} 
#pdetail li a { 
font-size: 14px; 
color: rgba(255, 255, 255, 0.71); 
background-repeat: no-repeat; 
background-position: 0 50%; 
outline: none; 
text-decoration: none; 
} 
    
.igeo{ 
padding: 3px 0 3px 15px; 
background-image: url(../images/igeo.png); 
} 
    
.iurl{ 
padding: 3px 0 3px 19px; 
background-image: url(../images/iurl.png); 
} 
    
.itweet{ 
padding: 3px 0 3px 19px; 
background-image: url(../images/itweet.png);     
} 
    
#pdetail li a:hover{ 
color:rgba(255, 255, 255, 0.95); 
} 
  
#cbox { 
float: left; 
margin: 6px 0 0 0; 
padding: 7px 12px; 
font-size: 11px; 
font-weight: bold; 
text-decoration: none; 
color: rgba(32, 142, 194, 1); 
border: none; 
-webkit-border-radius: 0px; 
-moz-border-radius: 6px; 
border-radius: 6px; 
box-shadow: 1px 1px 1px rgba(184, 184, 184, 0.2), inset 1px 1px 50px rgba(216, 216, 216, 0.1); 
background-color: rgba(255, 255, 255, 0.77); 
} 
  
.none1st{ 
margin-left: 5px !important; 
} 
    
#cbox:hover{ 
background-color: rgba(255, 255, 255, 0.95);  
} 
  
  
    
#cbox span{ 
padding-left: 24px; 
background-image: url(../images/icon-contact.png); 
background-repeat: no-repeat; 
background-position: 0 50%;     
} 
  
.none1st span{ 
background-image: none !important; 
padding-left: 0px !important; 
} 
   
#content section h3 { 
height: 20px; 
-webkit-margin-before: 0px; 
-webkit-margin-after: 0px; 
font-size: 18px; 
color: #da9622; 
} 
  
.go { 
position: absolute; 
top: 284px; 
left: 364px; 
height: 51px; 
width: 51px; 
} 
  
.go img {
display: block;
position: absolute;
right: 0;
bottom: 0;
border-top: 3px solid #fcd04b;
border-left: 3px solid #fcd04b;
z-index: 2;
width: 50px;
height: 50px;
}
  
.frshb{ 
-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4) !important; 
-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4) !important; 
-ms-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4) !important; 
-o-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4) !important; 
box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4) !important; 
background: #FFF044; !important; 
}   
    
#frames { 
width: 235px; 
height: 235px; 
overflow: hidden; 
position: relative; 
margin: 18px 55px; 
background: #fcad26; 
border-radius: 14px; 
box-shadow: 0 1px 4px rgba(0,0,0,.2), inset 0 1px 2px #FAF192, inset 0 -1px 1px #C5C5C5; 
text-align: center; 
} 
  
  
    
#subs { 
font-family: 'Maven Pro', sans-serif; 
color: white; 
font-size: 19px; 
margin-top: -22px; 
} 
  
#msk{ 
display: none; 
position: fixed; 
top: 0; 
right: 0; 
bottom: 0; 
left: 0; 
z-index: 4000; 
background: #808080; 
background: rgba(0,0,0,.5); 
filter: alpha(opacity=50); 
-ms-filter: "alpha(opacity=50)";     
} 
    
#modal{ 
position: relative; 
width: 520px; 
margin: 0; 
z-index: 6000; 
} 
    
#mdcont { 
position: relative; 
background-color: #fff; 
border-radius: 6px; 
background-clip: padding-box; 
-webkit-box-shadow: 0 4px 12px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.5); 
box-shadow: 0 4px 12px rgba(0,0,0,.4), inset 0 1px 0 rgba(255,255,255,.5); 
height: 200px; 
} 
    
#mdhd { 
cursor: move; 
padding-top: 8px; 
padding-bottom: 8px; 
background-color: #ececec; 
background-repeat: repeat-x; 
background-image: -moz-linear-gradient(top,#f5f5f5 0,#ececec 100%); 
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#ececec)); 
background-image: -webkit-linear-gradient(top,#f5f5f5 0,#ececec 100%); 
background-image: -ms-linear-gradient(top,#f5f5f5 0,#ececec 100%); 
background-image: -o-linear-gradient(top,#f5f5f5 0,#ececec 100%); 
background-image: linear-gradient(top,#f5f5f5 0,#ececec 100%); 
border-bottom: 1px solid #ddd; 
border-radius: 6px 6px 0 0; 
-webkit-box-shadow: inset 0 1px 0 #fff; 
box-shadow: inset 0 1px 0 #fff; 
padding: 8px; 
} 
    
#mdhd h3 { 
width: 75%; 
margin: 0 auto; 
overflow: hidden; 
font-size: 14px; 
font-weight: bold; 
line-height: 18px; 
color: #555; 
text-align: center; 
text-shadow: 0 1px 0 #fff; 
text-overflow: ellipsis; 
white-space: nowrap; 
text-rendering: optimizeLegibility; 
} 
    
  
#cmfm { 
margin: 0; 
font-size: 13px; 
line-height: 20px; 
display: inline-block; 
width: 210px; 
padding: 4px; 
margin: 0; 
outline: 0; 
background-color: #fff; 
border: 1px solid #ccc; 
border-radius: 3px; 
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075); 
box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.075); 
-webkit-transition: .2s linear background; 
-moz-transition: .2s linear background; 
transition: .2s linear background; 
width: 474px; 
height: 80px; 
padding: 8px; 
vertical-align: top; 
overflow: hidden; 
text-shadow: none; 
display: block; 
overflow-y: auto; 
word-wrap: break-word; 
-webkit-nbsp-mode: normal; 
width: 472px; 
margin-left: auto; 
margin-right: auto; 
margin-top: 16px; 
} 
  
#wcmbt { 
float: right; 
margin-right: 15px; 
margin-top: 8px; 
} 
    
#cmbt{ 
position: relative; 
display: inline-block; 
padding: 5px 10px; 
font-size: 13px; 
font-weight: bold; 
line-height: 18px; 
color: #333; 
text-shadow: 0 1px 1px rgba(255,255,255,.5); 
background-color: #ccc; 
background-repeat: no-repeat; 
border: 1px solid #ccc; 
cursor: pointer; 
border-radius: 4px;     
color: #fff; 
text-shadow: 0 -1px 1px rgba(0,0,0,.25); 
background-color: #019ad2; 
background-repeat: repeat-x; 
background-image: -moz-linear-gradient(#33bcef,#019ad2); 
background-image: -ms-linear-gradient(#33bcef,#019ad2); 
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#33bcef),color-stop(100%,#019ad2)); 
background-image: -webkit-linear-gradient(#33bcef,#019ad2); 
background-image: -o-linear-gradient(#33bcef,#019ad2); 
background-image: linear-gradient(#33bcef,#019ad2); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0); 
border-color: #057ed0; 
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1); 
box-shadow: inset 0 1px 0 rgba(255,255,255,.1); 
} 
    
#cmbt2{ 
background-color: #ddd; 
background-repeat: repeat-x; 
background-image: -moz-linear-gradient(#fff,#ddd); 
background-image: -ms-linear-gradient(#fff,#ddd); 
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd)); 
background-image: -webkit-linear-gradient(#fff,#ddd); 
background-image: -o-linear-gradient(#fff,#ddd); 
background-image: linear-gradient(#fff,#ddd); 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd');  
} 

.pfooter {
margin-top: 157px;
height: 50px;
position: relatived;
z-index: 0;
width: 416px;
border-top: 1px dashed #fcd04b;
margin-left: -35px;
}



#loading{

  display:block;
  
  text-align: center;
  
  margin-top: 100px;
  
  font-size: 24px;
  
  color:#FFAE03;

}



.span {
  
  display: block; 
  
  margin: 0 auto;

}



span[class*="l-"] {
  
height: 8px;
  
width: 8px;
  
background: #FFAE03;
  
display: inline-block;
  
margin: 14px 1px;
  
border-radius: 100%;
  
-webkit-border-radius: 100%;
  
-moz-border-radius: 100%;
  
-webkit-animation: loader 4s infinite;
  
-webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  
-webkit-animation-fill-mode: both;

  -moz-animation: loader 4s infinite;
  
-moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  
-moz-animation-fill-mode: both;
  
-ms-animation: loader 4s infinite;
  
-ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);

  -ms-animation-fill-mode: both;
  
animation: loader 4s infinite;
  
animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  
animation-fill-mode: both;

}



span.l-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
}


span.l-2 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
}


span.l-3 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}


span.l-4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
}


span.l-5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
}


span.l-6 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -ms-animation-delay: 0;
  -moz-animation-delay: 0;
}



@-webkit-keyframes loader {
	
  0% {-webkit-transform: translateX(-30px); opacity: 0;}

  25% {opacity: 1;}

  50% {-webkit-transform: translateX(30px); opacity: 0;}

  100% {opacity: 0;}

}



@-moz-keyframes loader {
	
  0% {-moz-transform: translateX(-30px); opacity: 0;}
  
25% {opacity: 1;}
	
  50% {-moz-transform: translateX(30px); opacity: 0;}
	
  100% {opacity: 0;}

}



@-keyframes loader {
	
  0% {-transform: translateX(-30px); opacity: 0;}

  25% {opacity: 1;}

  50% {-transform: translateX(30px); opacity: 0;}
	
  100% {opacity: 0;}

}



@-ms-keyframes loader {
	
  0% {-ms-transform: translateX(-30px); opacity: 0;}

  25% {opacity: 1;}

  50% {-ms-transform: translateX(30px); opacity: 0;}

  100% {opacity: 0;}

}